<!-- Put the HTML template for your page here! -->
<!DOCTYPE html>
<html>
	<title>HTML Tutorial</title>
<!-- 	<link rel="stylesheet" type="text/css" href="{{
	url_for('static', file_name='style.css')}}"> -->

<body>

	<h1>The best sport is eating food</h1>

	<p>When you play a sport, you make sure you have the equipment you need, like your glove for baseball, cleats for soccer, and high-top sneakers for basketball. You couldn't play the game very well without this gear. But how do you help your game from the inside out?.</p>

</body>
</html>